<div class="mt-3">
  <div class="row">
    <div class="col-6"><h3>Khóa học của tôi</h3></div>
    <div class="col-6 d-flex justify-content-end align-item-center">
      <a
        type="button"
        class="btn btn-success"
        href="/courses/create"
        style="margin-right: 12px;"
      >Thêm mới
        <i class="fas fa-plus"></i></a>
      <a
        href="/me/trash/courses"
        type="button"
        class="btn btn-primary position-relative btn-trash-count"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Trash"
      >
        <i class="fas fa-trash mt-1"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          {{deletedCount}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </a>
    </div>
  </div>

  <hr class="dropdown-divider" />

  <table class="table table-borderless table-hover mt-3 shadow-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa <i class="fas fa-edit"></i></a>
            <button
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-id="{{this._id}}"
            >Xóa <i class="fas fa-trash"></i></button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4" class="text-center">Không tồn tại khóa học nào!
            <a href="/courses/create">Tạo khóa học ngay</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete }}
 {{> modal/stored-course-delete}}

{{! Form delete }}
<form id="form-delete" class="mt-3" method="POST"></form>

<script>
  var exampleModal = document.getElementById('exampleModal'); var formDelete =
  document.getElementById('form-delete'); var courseId = '';
  exampleModal.addEventListener('show.bs.modal', function (event) { const button
  = event.relatedTarget; courseId = button.getAttribute('data-id'); var
  btnDelete = document.getElementById('btn-delete-course');
  btnDelete.addEventListener('click', (event) => {
  formDelete.setAttribute(`action`, `/courses/${courseId}?_method=DELETE`);
  formDelete.submit(); }) })
</script>